/*--------------------------------------------------------------
1.0 - HEADER
--------------------------------------------------------------*/

.header {
  height: 80px;
  background-color: $nav-color;
  @extend %nav-font-style;

  @media (min-width: $mobile) and (max-width: $tablet) {
    height: 34px;
  }

  @media (min-width: $min-small_desktop) and (max-width: $max-small_desktop) {
    width: 100%;
    z-index: 9999;
    position: relative;
  }
}
.header__container {
  max-width: $desktop; //**
  margin: auto; //**
  @extend %display-Flex-center-style;
  justify-content: center;
  height: 80px;
  gap: 63px;

  @media (min-width: $mobile) and (max-width: $max-mobile) {
    max-width: $mobile;
    height: 34px;
    gap: 36.8%;
  }

  @media (min-width: $min-tablet) and (max-width: $tablet) {
    max-width: $tablet;
    height: 34px;
    gap: 41.8%;
  }

  @media (min-width: $min-small_desktop) and (max-width: $max-small_desktop) {
    max-width: $max-small_desktop;
  }
}

.header__logo {
  @extend %display-Flex-center-style;
  width: 80px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  position: relative;
  .logo__icon {
    background-image: url("/assets/icons/bamboo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 14px;
    height: 17px;
    position: absolute;
    left: 10px;
    top: 24px;
  }
  h1 {
    text-align: center;
    font-weight: 400;
    font-size: 19px;
  }

  @media (min-width: $mobile) and (max-width: $tablet) {
    @include wigth_height(47px, 30px);
    border: none;
    .logo__icon {
      @include wigth_height(10px, 14px);
      left: 3px;
      top: 12px;
    }
    h1 {
      font-weight: 400;
      font-size: 12.2px;
      line-height: 120%;
    }
  }

  @media (min-width: $min-tablet) and (max-width: $tablet) {
    margin-top: 2px;
  }
}

.header__menu {
  @extend %display-Flex-center-style;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 58px;
  margin-right: 375px;
  @media (min-width: $mobile) and (max-width: $max-mobile) {
    display: none;
  }
  @media (min-width: $min-tablet) and (max-width: $tablet) {
    display: none;
  }
  //   TODO - сделать бургер меню!!!!

  @media (min-width: $min-small_desktop_for_header) and (max-width: $max-small_desktop) {
    margin-right: 198px; // TODO - @debug
    gap: 48px;
  }

  @media (min-width: $min-small_desktop) and (max-width: $min-small_desktop_for_header) {
    margin-right: 0px; // TODO - @debug
    gap: 48px;
  }
}

a {
  @extend %nav-font-style;
  text-decoration: none;
}

.header__designed {
  @media (min-width: $mobile) and (max-width: $max-mobile) {
    display: none;
  }

  @media (min-width: $min-tablet) and (max-width: $tablet) {
    display: none;
  }
}

.menu-links:hover {
  @extend %orange-gradient;
  transition: all 0.2s;
}

.menu-links:active {
  @extend %none-gradient;
}

.links-active {
  @extend %orange-gradient;
}

// burger-menu

.header__burger {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @include wigth_height(18px, 10px);
    position: relative;
    display: block;

    &::after {
      content: "";
      @include burger-menu-span;
      bottom: 8px;
    }

    &::before {
      content: "";
      @include burger-menu-span;
      top: 4px;
    }

    span {
      @include burger-menu-span;
      top: 8px;
    }
  }

  @media (min-width: $min-tablet) and (max-width: $tablet) {
    margin-bottom: 3px;
    margin-right: 2px;
  }
}

//
