// Mixins
@mixin wigth_height($width, $height) {
  width: $width;
  height: $height;
}

@mixin transition_placeholder($property) {
  -webkit-transition: $property;
  transition: $property;
}

@mixin border_radius($property) {
  -moz-border-radius: $property;
  -webkit-border-radius: $property;
}

@mixin font-input($property) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: $property;
}

@mixin fonts-size-heigth-weigth-color($size, $heigth, $weigth, $color) {
  font-family: "Roboto";
  font-style: normal;
  font-size: $size;
  line-height: $heigth;
  font-weight: $weigth;
  color: $color;
}

@mixin burger-menu-span {
  // content: "";
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background: $white;
  border-radius: 2px;
  position: absolute;
  // top: 6px;
  z-index: 10;
  transition: 0.55s;
  backface-visibility: hidden;
}

// Size
$max-mobile: 451px;
$mobile: 320px; //
$min-tablet: 452px;
$max-tablet: 640px;
$tablet: 789px; // 640 - 450 сделать границу такую
$small_desktop: 1000px;
$max-small_desktop: 1200px;
$small_desktop_1400: 1400px;
$min-small_desktop: 790px;
$desktop: 1600px; //  до 1100 - нет горизонтальной прокрутки
$min-small_desktop_for_header: 920px;
$min-tablet_for_section_watch-online: 570px;

// Colors
$orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$white: #fff;
$rad: #d31414;
$gray: #929699;
$black-blue: #333b41;
$nav-color: #000000;
$color-active-green: #4b9200;
$button-hover-orange: #e47209;
$border-orage-line: #fe9013;
$button-hover-orange: #e47209;
$color-gradient: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$orange_grad: linear-gradient(
    315.75deg,
    rgba(254, 210, 144, 0.7) 30.06%,
    #febdab 100.95%,
    rgba(254, 210, 144, 0.7) 106.36%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );

$pink_gradient: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );

// icons
$banana_icon: url("/assets/icons/food_icon/banana-bamboo_icon.svg");
$meat_icon: url("/assets/icons/food_icon/meet-fish_icon\ \(1\).svg");

// fonts
%nav-font-style {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

%font-style-400 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

%font-style-300 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  font-size: 15px;
}

%font-style-100 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

%display-Flex-center-style {
  display: flex;
  align-items: center;
}

%orange-gradient {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%none-gradient {
  background: #4b9200;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%button-default-orange {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  border: none;
}

%placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  font-size: 16px;
  line-height: 140%;
  // @extend %nav-font-style;
  font-weight: 400;
  color: $gray;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
