@import "assets/styles/abstracts/variable";
@import "assets/styles/layout/header";
@import "assets/styles/components/buttons";
@import "assets/styles/layout/footer";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: auto;
  // max-width: 1600px; !!
}

/*--------------------------------------------------------------
1.0 - SECTION. WACH-ONLINE
--------------------------------------------------------------*/

.container__background {
  background-image: url("/assets/image/main/Giant_Panda.jpg");
  height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $mobile) {
    height: 221px;
    background-image: url("/assets/image/main/background/Giant_Panda_320.jpg");
    background-size: contain;
    background-position: bottom;
  }
}

.donate_background {
  background-image: url("/assets/image/donate/panda_bg.png");
  height: 386px;
  background-position: center;
  @media (max-width: $mobile) {
    height: 187px;
    background-image: url("/assets/image/donate/mob_background/panda_bg_320.png");
    background-size: contain;
    background-position: bottom;
  }
}
.section__wach-online {
  max-width: $desktop; //**
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
  @media (max-width: $mobile) {
    max-width: $mobile;
    margin-left: 39%;
  }
}

.watch__container-circle {
  background-color: #f9804b;
  @include wigth_height(465px, 465px);
  border-radius: 50%;
  position: relative;
  margin-top: 12px;
  @media (max-width: $mobile) {
    max-width: $mobile;
    @include wigth_height(119px, 119px);
    margin-top: 21px;
  }
}

.watch__descriprions {
  margin-top: 74px;
  height: 550px;
  text-align: center;
  position: absolute;
  left: 18%;

  p {
    @extend %nav-font-style;
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    margin: 0;
    margin-bottom: 62px;
    text-align: center;
    text-transform: uppercase;
  }

  span {
    color: #ffee2e;
  }

  @media (max-width: $mobile) {
    margin-top: 20px;
    height: 550px;
    // width: 100%;
    max-width: $mobile;
    @include wigth_height(119px, 119px);
    p {
      @extend %nav-font-style;
      font-size: 28px;
    }
  }
}

/*--------------------------------------------------------------
2 - SECTION. BACKSTAGE
--------------------------------------------------------------*/

.backstage__container-flower {
  background: url("/assets/image/main/flower_foto1.png");
  height: 605px;
  background-repeat: no-repeat;
  // background-size: contain;
  background-position: right;
  margin-top: 14px;
  @media (max-width: $mobile) {
    background: url("/assets/image/main/background/flower_foto_320.png");
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 39px;
    height: auto;
  }
}

.backstage__content {
  margin: auto; //**
  max-width: $desktop; //**
  @extend %display-Flex-center-style;
  justify-content: center;
  gap: 87px;
  padding-top: 126px;
  @media (max-width: $mobile) {
    max-width: $mobile;
    width: 100%;
    gap: 0px;
    padding-top: 66px;
  }
}
.backstage__content_img {
  width: 38%;
  height: 100%;
  @media (max-width: $mobile) {
    display: none;
  }
}
.content_img-bamboo {
  max-width: 610px;
  width: 609px;
  height: 403px;
  max-height: 403px;
}

.backstage__content_description {
  // width: 465px;
  width: 29%;
  @extend %nav-font-style;
  color: $black-blue;
  font-weight: 400;
  h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 120%;
    font-weight: 400;
  }
  h5 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 34px;
    margin-top: 54px;
    font-weight: 400;
  }
  .description__paragraf {
    line-height: 130%;
  }
  p {
    margin: 0;
    // font-weight: 400;
  }

  @media (max-width: $mobile) {
    width: 93%;
    h3 {
      @include fonts-size-heigth-weigth-color(24px, 120%, 400, $black-blue);
      margin: 0;
      margin-bottom: 11px;
    }
    h5 {
      margin-top: 20px;
      margin-bottom: 8px;
    }
  }
}

/*--------------------------------------------------------------
3 - SECTION. ANIMAL
--------------------------------------------------------------*/
.section__animal {
  margin-top: 101px;
  @media (max-width: $mobile) {
    margin-top: 37px;
  }
}

.section__container_scroll {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75.7%;
  box-sizing: border-box;
  margin-left: 13%;
  margin-bottom: 60px;
  #alligators {
    display: none;
  }
  @media (max-width: $mobile) {
    width: 97.7%;
    margin-left: 3%;
    margin-bottom: -1px;

    #sloth {
      display: none;
    }
    #cheetahs {
      display: none;
    }
    #penguins {
      display: none;
    }
    #alligators {
      display: block;
    }
  }
}
.container_animal {
  width: 366px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%)
    border-box;
  -webkit-mask: linear-gradient(rgba(255, 255, 255, 0) 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  box-sizing: content-box;
  cursor: pointer;
  margin-right: 27px;
  margin-left: 0px;

  margin-bottom: 20px;
  transition: 0.5s ease-in;
}

.animal_wrapper_description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 8px 12px 14px 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @media (max-width: $mobile) {
    padding: 7px 8px 3px 12px; //TODO - проверить!!!!
    line-height: 140%;
  }
}

.animal_name {
  @extend %nav-font-style;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  line-height: 120%;
  @media (max-width: $mobile) {
    line-height: 140%;
    font-size: 13px;
    margin-bottom: -2px;
    // width: 220px;
  }
}
.animal_geo {
  @extend %nav-font-style;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000;
  margin: 0;
  @media (max-width: $mobile) {
    font-size: 12px;
    margin-bottom: 6px;
  }
}
.animal_foods {
  width: 33px;
  height: 37px;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $mobile) {
    width: 26px;
    height: 29px;
    margin-bottom: 3px;
  }
}

.banana {
  background-image: $banana_icon;
}

.meat {
  @include wigth_height(48px, 38px);
  background-image: $meat_icon;
  @media (max-width: $mobile) {
    @include wigth_height(37px, 27px);
    margin-bottom: 7px;
    margin-right: -3px;
  }
}

.wrapper_pic {
  // @extend %gradient-borgder-radius;
  background: #000;
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  // transition: 0.5s ease-in;

  img {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 366px;
    border-radius: inherit;
    transition: 0.5s ease-in;
  }

  // &:hover {
  //   img {
  //     opacity: 0.4;
  //     transform: scale(1.1);
  //     .animal__description {
  //       position: absolute;
  //       left: 0;
  //     }
  //   }
  // }
}

.container_animal:hover {
  position: relative;
  .wrapper_pic {
    img {
      opacity: 0.4;
      transform: scale(1.1);
      .animal__description {
        position: absolute;
        left: 0;
      }
    }
  }
  .animal_wrapper_description {
    .animal__description {
      h5 {
        transition: all 0.6s ease-in;
        transform: all 2s;
        position: absolute;
        top: 50%;
        color: white;
      }
      p {
        transition: all 1s ease-in;
        // transform: all 2s;
        position: absolute;
        top: 55%;
        color: white;
      }
    }
  }
}

.animal__container {
  max-width: $desktop; //**
  margin: auto; //**
  position: relative;
}
.section__wrapper {
  background-image: url("/assets/image/main/strelitzia_1.png");
  @include wigth_height(100%, 100%);
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  @media (max-width: $mobile) {
    background-image: url("/assets/image/main/background/strelitzia_320px.png");
  }
}

.section__animal {
  background-image: url("/assets/image/main/palm_foto.png");
  @include wigth_height(100%, 100%);
  background-repeat: no-repeat;
  background-position: bottom left;
  @media (max-width: $mobile) {
    background-image: url("/assets/image/main/background/palm_foto_320.png");
  }
}

.container_button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 100px;
  @media (max-width: $mobile) {
    padding-bottom: 60px;
  }
}

.scroll_arrow_button {
  display: flex;
  justify-content: space-around;
  gap: 58%;
  position: absolute;
  width: 100%;
  top: 36.6%;
  @media (max-width: $mobile) {
    display: none;
  }
}

/*--------------------------------------------------------------
4 - SECTION. PICK AND FEED
--------------------------------------------------------------*/
.section__pick-and-feed {
  height: 1004px;
  background: $orange_grad;
  opacity: 0.9;
  @media (max-width: $mobile) {
    height: auto;
  }
}

.pick-and-feed__wrapper {
  max-width: $desktop;
  margin: auto;
  display: flex;
  height: 100%;
  @media (max-width: $mobile) {
    max-width: $mobile;
  }
}

.pick-and-feed__container {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  height: 835px;
  width: 72.5%;
  margin: auto;
  margin-bottom: 99px;
  h4 {
    @extend %font-style-400;
    font-size: 36px;
    line-height: 130%;
    color: $black-blue;
    text-align: center;
    margin-bottom: 40px;
  }
  @media (max-width: $mobile) {
    width: 92.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: auto;
    margin-bottom: 21px;

    h4 {
      font-size: 24px;
      margin-bottom: 19px;
      margin-top: -19px;
    }
  }
}

.pick-and-feed__header {
  @extend %font-style-400;
  font-size: 48px;
  text-align: center;
  color: #fe9013;
  padding-top: 41px;
  margin-bottom: 30px;
  @media (max-width: $mobile) {
    font-size: 24px;
    padding-top: 22px;
    margin-bottom: 10px;
  }
}

.descriptions__container-pay {
  color: $black-blue;
  margin-left: 8.5%;
  @media (max-width: $mobile) {
    margin-left: -0.5%;
    text-align: center;
  }
}

.pay__header_descriptions {
  @extend %font-style-400;
  font-size: 24px;
  color: $black-blue;
  margin-bottom: 40px;
  @media (max-width: $mobile) {
    font-size: 18px;
  }
}
.pay__descriptions_bold {
  @extend %nav-font-style;
  line-height: 130%;
  color: $black-blue;
  margin-bottom: 10px;
  @media (max-width: $mobile) {
    display: none;
  }
}
.pay__descriptions {
  @extend %font-style-400;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 60px;
  width: 863px;

  a {
    @extend %font-style-400;
    color: $black-blue;
    border-bottom: 1px solid $border-orage-line;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.pick-and-feed__container_payment {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 43px;
  }
}
.payment_block {
  width: 168px;
  p {
    @extend %nav-font-style;
    color: $black-blue;
    font-weight: 400;
    color: #000000;
  }
}

.payment_block:last-child {
  margin-top: -12px;
}
.payment_block_hover {
  box-sizing: border-box;
  width: 166px;
  height: 166px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%)
    border-box;
  -webkit-mask: linear-gradient(rgba(255, 255, 255, 0) 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  box-sizing: content-box;
  margin-bottom: 30px;
  @media (max-width: $mobile) {
    margin-bottom: 8px;
  }
}

.payment_block__img {
  display: flex;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  svg {
    margin: auto;
  }
}

.container_button_pay {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  margin-left: 2px;
  @media (max-width: $mobile) {
    margin-top: 39px;
    margin-left: auto;
    padding-bottom: 41px;
  }
}
// botton_arrow
.payment_block_arrow {
  display: flex;
  height: 160px;
  width: 69px;
  align-items: center;
  background-image: url("/assets/icons/arrow-bold.svg");
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: $mobile) {
    background-image: url("/assets/icons/pick_green_arrow.svg");
    position: absolute;
    align-items: flex-end;
    top: 126px;
    right: 12px;
  }
}
.botton_arrow {
  @media (max-width: $mobile) {
    top: 376px;
  }
}

/*--------------------------------------------------------------
5 - SECTION. TESTIMONIALS
--------------------------------------------------------------*/
.section__testimonials {
  // width: 100%;
  background-image: url("/assets/image/main/leav_foto.png");
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;
  padding-bottom: 182px;
  @media (max-width: $mobile) {
    padding-bottom: 60px;
    background-image: url("/assets/image/main/background/leav_foto_320.png");
  }
}

.testimonials__wrapper {
  max-width: $desktop; //**
  margin: auto; //**
  height: 100%;
  // width: 100%;
  @media (max-width: $mobile) {
    max-width: $mobile;
  }
}

.testimonials__container_feedback {
  display: flex;
  gap: 30px;
  justify-content: center;
  #feedback-4 {
    display: none;
  }
  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 15px;
    #feedback-1 {
      display: none;
    }
    #feedback-4 {
      display: block;
    }

    #feedback-3 {
      display: none;
    }
  }
}

.testimonials__header {
  @include fonts-size-heigth-weigth-color(36px, 130%, 400, $black-blue);
  text-align: center;
  margin-top: 140px;
  margin-bottom: 45px;
  @media (max-width: $mobile) {
    font-size: 24px;
    line-height: 120%;
    margin-top: 29px;
    margin-bottom: 19px;
  }
}

.feedback__wrapper {
  box-sizing: border-box;
  @include wigth_height(264px, 389px);
  border: 2px solid transparent;
  border-radius: 20px;
  background: $pink_gradient;
  -webkit-mask: linear-gradient(rgba(255, 255, 255, 0) 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  box-sizing: content-box;

  @media (max-width: $mobile) {
    @include wigth_height(296px, 105px);
    margin: auto;
  }
  // margin-bottom: 30px;
}

.feedback__container {
  background: #f1f3f2;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.feedback__descriptions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  width: 83%;
  justify-content: center;
  padding-top: 15px;
  @media (max-width: $mobile) {
    justify-content: flex-start;
    gap: 6px;
    padding-top: 10px;
    padding-left: 10px;
  }
}

.feedback_avatar {
  @include wigth_height(37px, 37px);
  border-radius: 50%;
}

.feedback_name {
  @extend %font-style-400;
  font-size: 16px;
  color: #000000;
}

.feedback_details {
  @extend %font-style-300;
  color: #bdbdbd;
  display: flex;
  gap: 6px;
}

.feedback {
  padding-left: 16px;
  width: 89%;
  overflow: hidden;
  height: 79%;
  p {
    @extend %font-style-300;
    color: #767474;
  }
  @media (max-width: $mobile) {
    height: 35%;
  }
}
.container__button_feedback {
  margin: auto;
  width: 72.5%;
  @media (max-width: $mobile) {
    display: flex;
    width: 74.5%;
    justify-content: center;
    margin-top: 31px;
  }
}

/*--------------------------------------------------------------
5.1 - RANGE SLIDER
--------------------------------------------------------------*/

.rangeslider {
  margin: 0 auto;
  padding: 15px 0;
  width: 599px;
  height: 8px;
  margin-bottom: 20px;
  @media (max-width: $mobile) {
    display: none;
  }
}

.input-range__feedback {
  border: 0.5px solid transparent;
  border-radius: 5px;
  background-image: linear-gradient(#f5f7f6, #f5f7f6), $pink_gradient;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  height: 6px;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.rangeslider input::-webkit-slider-thumb {
  background: $border-orage-line;
  cursor: pointer;
  height: 6px;
  text-indent: -9999px;
  width: 115px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.rangeslider input::-webkit-slider-thumb:active {
  background: $color-active-green;
}
